[Unit]
Description=e-Navigation Niord Service - Quarkus
After=syslog.target

[Service]
WorkingDirectory=/opt/e-nav/niordQuarkus
ExecStart=java -Xms512m -Xmx1024m -jar quarkus-run.jar
User=root
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target